#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  gap: 200px;
}

.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%; 
}
.form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

.task-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  text-align: center;
}

.task-form{
  grid-row-start: 1;
  grid-column-start: 1;
}

.task-items{
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  height: 250px;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.deleteBtn{
  background-color: lightgrey;
}

.dark-mode{
  background-color: black;
  color: white;
}
